* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

#nav-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-button {
    margin: 0 20px;
    font-weight: bold;
}

.nav-button a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

#logo-container {
    position: absolute;
    width: 5%;
    padding: 0;
}

#logo-container img {
    width: 100%;
    min-width: 90px;
}

.current-section {
    opacity: 25%;
}

.recommended-event {
    display: flex;
    align-items: center;
    margin: 0.5% auto;
    width: 37.5%;
    height: 120px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.image-container {
    width: 1/6;
    height: 100%;
}

.image-container img {
    width: 120px;
    height: 120px;
    object-fit: hidden;
    border-radius: 20px;
}

.information-container {
    padding: 2%;
}

.information-container div {
    margin: 1.5% 0;
}

.details-container {
    position: relative;
    display: flex;
}

.details-container div {
    margin: 0% 2%;
}

.section-header-container {
    width: 40%;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.follow-button {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 100px;
    height: 23px;

    display: inline-block;
    border-radius: 7px;
    background-color: lightgray;
    color: black;

    font-size: 14px;
    cursor: pointer;
    border: none;
}